* {
	margin:0px auto;
	padding:0px auto;
}
#main, #sadrzaj, #mali-meni, #header, #footer, #sort1, #kraj{
	width:1080px;
}
#sadrzaj {
	margin-bottom:50px;
	min-height:500px;
}
@media screen and (min-width: 1600px){
	#sadrzaj {
		margin-top: 100px;
	}
}
@media screen and (min-width: 1920px){
	#sadrzaj {
		margin-top: 150px;
	}
}
body {
	color:#FFF;
	width:100%;
	background-image:url('../images/pozadina3.png');
	background-size:cover;
	font-family:"Ubuntu Condensed", sans-serif;
	background-repeat:no-repeat;
}
a {
	text-decoration:none;
	color:#FFF;
}
.cleaner {
	clear:both;
}
ul li{ 
	text-decoration: none;
	display:inline-block;
	padding-right:5px;
}
#mali-meni  {
	color:#FFF;
	margin-bottom:5px;
}
#mali-sadrzaj {
	margin-top:10px;
	margin-left:-40px;
}
#search {
	margin-top:-20px;
	float:right;
}
.user {
	font: 11px/15px "Ubuntu Condensed", sans-serif;
}
p {
	font: 15px "Ubuntu Condensed", sans-serif;
}
.user, #ul {
	color:#FFF;                                                       
	text-transform:uppercase;
}
.user:hover, #activ{
	text-decoration:underline;
}
#s {
	border-radius:5px;
	border:0px;
}
#header {
	min-height:130px;
}
#logo {
	padding:20px 0 20px 0;
}
#menu {
	margin-left:-40px;
}
#meni{
	position:absolute;
}
#menu ul li a{
	font: 15px/19px "Ubuntu Condensed", sans-serif;
	color:#FFF;
	padding:0px 10px 0px 10px;
	text-align:center;
}
#meni li ul{
	text-align:center;
	position:absolute;
	left:-999em;
	text-align:center;
	width:160px;
}
#meni li{	
	float:left;
}
.padajuce {
	height:25px;
	text-align:center;
	margin-top:5px;
}
#meni a{
	font: 15px/19px "Ubuntu Condensed", sans-serif;
	color:#FFF;
	width:150px;
	margin:0px auto;
}
.ok:hover, #aktivna  {
	border-bottom:3px solid #f14d4c;
}
#meni li:hover ul, #meni li ul:hover {
	color:#FFF;
	left:auto;
	z-index:1;
	background-color:#f14d4c;
	display:block;
	width:130px;
}
.fa:hover {
	opacity:0.5;
}
#slider {
	background-size:cover;
	position:relative;
	width:100%;
	min-height:600px;
	text-align:center;
}
#slider img {
	width:100%;
}
#slider > div{
	position:absolute;
}
#preporuka {
	min-height:400px;
}
.naslov {
  font-size:70px;
  color: #f2f2f2;
  padding-left:280px;
  position: absolute;
  bottom: 250px;
  width: 800px;
  text-align:center;
}
.active {
  background-color: #717171;
}
.klasa {
	width:355px;
	height:267px;
	float:left;
	text-align:center;
	color:#FFF;
}
#gitare h1, #ozvucenje h1, #djOprema h1, #klavijature h1, #studio h1, #klasicni h1 {
	margin-top:100px;
}
#gitare {
	background-image:url('../images/gitara.png');
}
#ozvucenje {
	background-image:url('../images/ozvucenje.png');
}
#djOprema {
	background-image:url('../images/dj.png');
}
#klavijature {
	background-image:url('../images/klavijatura.png');
}
#studio {
	background-image:url('../images/studio.png');
}
#klasicni {
	background-image:url('../images/violina.png');
}
#main{
	text-align:center;
	min-height:500px;
}
#main h2{
	margin:25px 0;
}
.izdvajamo {
	width:250px;
	min-height:370px;
	text-align:center;
	background-color:#f14d4c;
	float:left;
	margin-right:10px;
	padding:5px;
}
.izdvajamo:last-child{
	float:right;
}
.artikal img{
	width:220px;
	height:220px;
	margin:10px;
}
.artikal:hover {
	background-color:#FFF;
}
.cena {
    color:#FFF;
	text-transform:uppercase;
	text-align:center;
}
.stara {
	color:red;
	text-decoration:line-through;
}
#footer {
	background-image:url('../images/bg.png');
    background-size:cover;
	width:100%;
	height:450px;
	text-align:center;
}
.foot {
	text-transform:uppercase;
}
#drzac {
	width:1080px;
	margin:0px auto;
	padding:0px auto;
	text-align:center;
	padding-left:150px;
}
.deo a {
	color:#FFF;
}
.deo {
	width:33%;
	padding-top:30px;
	float:left;
	text-align:left;
}
.soc {
	color:#FFF;
}
.soc:hover {
	color:#484848;
}
ol {
	list-style-type:none;
}
ol li {
	padding-top:15px;
}
ol li a:hover {
	color:#484848;
}
#autor {
	background-color:#484848;
	border-radius:10px;
	width:150px;
	height:15px;
	text-align:center;
	margin-top:10px;
	font: 11px/15px "Ubuntu Condensed", sans-serif;
	margin-right:460px;
}
#autor a{
	color:#FFF;
}
#tekst {
	text-align:justify;
	float:right;
	width:650px;
}
#tekst a{
	color:#FFF;
}
#sautor {
	float:left;
}
#preporuka {
	margin-top:10px;
}
.prijava {
	float: left;
    margin-bottom: 20px;
    width: 48%;
    min-height: 260px;
	border:1px solid #FFF;
}
#desno {
	float:right;
}
.detalji, .zaglavlje {
	padding:20px;
}
.detalji {
	text-align:justify;
}
.naslovZaglavlje {
	border-bottom: 1px solid #FFF;
	text-align:left;
	text-transform:uppercase;
	padding-bottom:20px;
}
.dugmence  {
	margin:20px;
	text-transform:uppercase;
	color:#484848;
	background-color:#FFF;
	border-radius:5px;
	border: none;
	font: 15px/19px "Ubuntu Condensed", sans-serif;
}
#logIn {
	margin:-5px;
}
.pr {
	width:250px;
}
.proizvod {
	text-align:center;
	width:250px;
	background-color:#FFF;
	float:left;
	color:#484848;
	padding-top:10px;
	margin:10px 20px 10px 0;
	min-height:510px;
}
.proizvod:hover{
	background-color:#f14d4c;
	color:#FFF;
}
.opis {
	padding: 10px 0;
	margin:20px;
}
#kraj {
	text-align:right;
}
#kraj input{
	margin-top:-35px;
}
#skroler {
	background-image:url('../images/up.jpg');
	width:50px;
	height:50px;
	border:0px;
	text-align:right;
}
#detaljiKontakt{
	text-align:left;
	width:500px;
	float:left;
}
#detaljiKontakt a{
	color:#FFF;
}
#kontakt_forma {
	width:500px;
	float:right;
	text-align:left;
}
#scrollToTop {
	position:fixed;
	right:1%;
	bottom:1%;
    cursor:pointer;
}
.naslovP {
	font-size:24px;
	padding:10px 0;
}